*{
    margin: 0;
    padding: 0;
}

.editor-container{
    display: flex;
    flex-direction: row;
}

.code-editor{
    width: 70%;
    margin: 10px;
}

.code-input-output{
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.code-input{
    margin-bottom: 5px;
}